# Imports

In [ ]:
import numpy as np
import pandas as pd

import tensorflow_datasets as tfds

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

import pickle

/home/pitangura/miniconda3/envs/movie_reviews/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2025-03-29 15:47:05.840484: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-03-29 15:47:05.860482: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/pitangura/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Exploring and cleaning the set

In [2]:
data = tfds.load('imdb_reviews')

In [3]:
# Convert each split into a Pandas DataFrame
dfs = {}
for split, dataset in data.items():
    data_list = [(example['text'].numpy().decode('utf-8'), example['label'].numpy()) for example in dataset]
    dfs[split] = pd.DataFrame(data_list, columns=['review', 'label'])

2025-03-29 15:47:08.400305: I tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2025-03-29 15:47:09.649861: I tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence

In [4]:
dfs

{'train':                                                   review  label
 0      This was an absolutely terrible movie. Don't b...      0
 1      I have been known to fall asleep during films,...      0
 2      Mann photographs the Alberta Rocky Mountains i...      0
 3      This is the kind of film for a snowy Sunday af...      1
 4      As others have mentioned, all the women that g...      1
 ...                                                  ...    ...
 24995  I have a severe problem with this show, severa...      0
 24996  The year is 1964. Ernesto "Che" Guevara, havin...      1
 24997  Okay. So I just got back. Before I start my re...      0
 24998  When I saw this trailer on TV I was surprised....      0
 24999  First of all, Riget is wonderful. Good comedy ...      1

 [25000 rows x 2 columns],
 'test':                                                   review  label
 0      There are films that make careers. For George ...      1
 1      A blackly comic tale of a down-trodden priest,...      1
 2      Scary Movie 1-4, Epic Movie, Date Movie, Meet ...      0
 3      Poor Shirley MacLaine tries hard to lend some ...      0
 4      As a former Erasmus student I enjoyed this fil...      1
 ...                                                  ...    ...
 24995  Feeling Minnesota is not really a road movie, ...      0
 24996  This is, without doubt, one of my favourite ho...      1
 24997  Most predicable movie I've ever seen...extreme...      0
 24998  It's exactly what I expected from it. Relaxing...      1
 24999  They just don't make cartoons like they used t...      1

 [25000 rows x 2 columns],
 'unsupervised':                                                   review  label
 0      SPOILER - Now knowing the ending I find it so ...     -1
 1      I knew about this film long before I saw it. I...     -1
 2      This movie is really really awful. It's as bad...     -1
 3      Wait a minute... yes I do.<br /><br />The dire...     -1
 4      This is the type of movie that's just barely i...     -1
 ...                                                  ...    ...
 49995  Normally, I'm a Studio Ghibli fan. Despite bei...     -1
 49996  One of my earliest memories is watching this p...     -1
 49997  The style of Maureen O'Hara is unmatched,even ...     -1
 49998  For those of you who have not been able to see...     -1
 49999  ... it's charming, screwy, futuristic, retro a...     -1

 [50000 rows x 2 columns]}

In [5]:
df_train = dfs['train']
df_test = dfs['test']

In [6]:
df_train

                                                  review  label
0      This was an absolutely terrible movie. Don't b...      0
1      I have been known to fall asleep during films,...      0
2      Mann photographs the Alberta Rocky Mountains i...      0
3      This is the kind of film for a snowy Sunday af...      1
4      As others have mentioned, all the women that g...      1
...                                                  ...    ...
24995  I have a severe problem with this show, severa...      0
24996  The year is 1964. Ernesto "Che" Guevara, havin...      1
24997  Okay. So I just got back. Before I start my re...      0
24998  When I saw this trailer on TV I was surprised....      0
24999  First of all, Riget is wonderful. Good comedy ...      1

[25000 rows x 2 columns]

In [7]:
df_test

                                                  review  label
0      There are films that make careers. For George ...      1
1      A blackly comic tale of a down-trodden priest,...      1
2      Scary Movie 1-4, Epic Movie, Date Movie, Meet ...      0
3      Poor Shirley MacLaine tries hard to lend some ...      0
4      As a former Erasmus student I enjoyed this fil...      1
...                                                  ...    ...
24995  Feeling Minnesota is not really a road movie, ...      0
24996  This is, without doubt, one of my favourite ho...      1
24997  Most predicable movie I've ever seen...extreme...      0
24998  It's exactly what I expected from it. Relaxing...      1
24999  They just don't make cartoons like they used t...      1

[25000 rows x 2 columns]

Setting everything to lower:

In [8]:
def set_to_lower(_df):
    _df['review'] = _df['review'].map(str.lower)

In [9]:
set_to_lower(df_train)
set_to_lower(df_test)

In [10]:
df_train

                                                  review  label
0      this was an absolutely terrible movie. don't b...      0
1      i have been known to fall asleep during films,...      0
2      mann photographs the alberta rocky mountains i...      0
3      this is the kind of film for a snowy sunday af...      1
4      as others have mentioned, all the women that g...      1
...                                                  ...    ...
24995  i have a severe problem with this show, severa...      0
24996  the year is 1964. ernesto "che" guevara, havin...      1
24997  okay. so i just got back. before i start my re...      0
24998  when i saw this trailer on tv i was surprised....      0
24999  first of all, riget is wonderful. good comedy ...      1

[25000 rows x 2 columns]

In [11]:
df_test

                                                  review  label
0      there are films that make careers. for george ...      1
1      a blackly comic tale of a down-trodden priest,...      1
2      scary movie 1-4, epic movie, date movie, meet ...      0
3      poor shirley maclaine tries hard to lend some ...      0
4      as a former erasmus student i enjoyed this fil...      1
...                                                  ...    ...
24995  feeling minnesota is not really a road movie, ...      0
24996  this is, without doubt, one of my favourite ho...      1
24997  most predicable movie i've ever seen...extreme...      0
24998  it's exactly what i expected from it. relaxing...      1
24999  they just don't make cartoons like they used t...      1

[25000 rows x 2 columns]

Dropping NaN

In [12]:
def drop_na(_df):
    _df = _df.dropna(axis = 1, how = 'all')

In [13]:
drop_na(df_train)
drop_na(df_test)

Dropping duplicates

In [14]:
def drop_duplicates(_df):
    _df.drop_duplicates(subset = 'review', keep = 'first')

In [15]:
drop_duplicates(df_train)
drop_duplicates(df_test)

In [16]:
df_train

                                                  review  label
0      this was an absolutely terrible movie. don't b...      0
1      i have been known to fall asleep during films,...      0
2      mann photographs the alberta rocky mountains i...      0
3      this is the kind of film for a snowy sunday af...      1
4      as others have mentioned, all the women that g...      1
...                                                  ...    ...
24995  i have a severe problem with this show, severa...      0
24996  the year is 1964. ernesto "che" guevara, havin...      1
24997  okay. so i just got back. before i start my re...      0
24998  when i saw this trailer on tv i was surprised....      0
24999  first of all, riget is wonderful. good comedy ...      1

[25000 rows x 2 columns]

In [17]:
df_test

                                                  review  label
0      there are films that make careers. for george ...      1
1      a blackly comic tale of a down-trodden priest,...      1
2      scary movie 1-4, epic movie, date movie, meet ...      0
3      poor shirley maclaine tries hard to lend some ...      0
4      as a former erasmus student i enjoyed this fil...      1
...                                                  ...    ...
24995  feeling minnesota is not really a road movie, ...      0
24996  this is, without doubt, one of my favourite ho...      1
24997  most predicable movie i've ever seen...extreme...      0
24998  it's exactly what i expected from it. relaxing...      1
24999  they just don't make cartoons like they used t...      1

[25000 rows x 2 columns]

Removing stop words

In [18]:
stopwords_list = stopwords.words('english')
def remove_stopwords(_df):
    _df['review'] = _df['review'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords_list)]))

In [19]:
remove_stopwords(df_train)
remove_stopwords(df_test)

In [20]:
df_train

                                                  review  label
0      absolutely terrible movie. lured christopher w...      0
1      known fall asleep films, usually due combinati...      0
2      mann photographs alberta rocky mountains super...      0
3      kind film snowy sunday afternoon rest world go...      1
4      others mentioned, women go nude film mostly ab...      1
...                                                  ...    ...
24995  severe problem show, several actually. simple ...      0
24996  year 1964. ernesto "che" guevara, cuban citize...      1
24997  okay. got back. start review, let tell one thi...      0
24998  saw trailer tv surprised. may 2008 six flags n...      0
24999  first all, riget wonderful. good comedy myster...      1

[25000 rows x 2 columns]

In [21]:
df_test

                                                  review  label
0      films make careers. george romero, night livin...      1
1      blackly comic tale down-trodden priest, nazari...      1
2      scary movie 1-4, epic movie, date movie, meet ...      0
3      poor shirley maclaine tries hard lend gravitas...      0
4      former erasmus student enjoyed film much. real...      1
...                                                  ...    ...
24995  feeling minnesota really road movie, that's st...      0
24996  is, without doubt, one favourite horror films ...      1
24997  predicable movie ever seen...extremely boring,...      0
24998  exactly expected it. relaxing, humorous entert...      1
24999  make cartoons like used to. one wit, great cha...      1

[25000 rows x 2 columns]

Finally, let's save the data

In [22]:
def parse_data(_df):
    x_data = _df['review'].to_numpy()
    y_data = _df['label'].to_numpy()

    return x_data, y_data

In [23]:
x_train, y_train = parse_data(df_train)
x_test, y_test = parse_data(df_test)

In [24]:
print(x_train)
print(y_train)

print(x_test)
print(y_test)

["absolutely terrible movie. lured christopher walken michael ironside. great actors, must simply worst role history. even great acting could redeem movie's ridiculous storyline. movie early nineties us propaganda piece. pathetic scenes columbian rebels making cases revolutions. maria conchita alonso appeared phony, pseudo-love affair walken nothing pathetic emotional plug movie devoid real meaning. disappointed movies like this, ruining actor's like christopher walken's good name. could barely sit it."
 'known fall asleep films, usually due combination things including, really tired, warm comfortable sette eaten lot. however occasion fell asleep film rubbish. plot development constant. constantly slow boring. things seemed happen, explanation causing why. admit, may missed part film, watched majority everything seemed happen accord without real concern anything else. cant recommend film all.'
 'mann photographs alberta rocky mountains superb fashion, jimmy stewart walter brennan give enjoyable performances always seem do. <br /><br />but come hollywood - mountie telling people dawson city, yukon elect marshal (yes marshal!) enforce law themselves, gunfighters battling streets control town? <br /><br />nothing even remotely resembling happened canadian side border klondike gold rush. mr. mann company appear mistaken dawson city deadwood, canadian north american wild west.<br /><br />canadian viewers prepared reefer madness type enjoyable howl ludicrous plot, or, shake head disgust.'
 ...
 'okay. got back. start review, let tell one thing: wanted like movie. know negative past, hoping surprised actually come liking film. didn\'t.<br /><br />it\'s fact every horror cliché imaginable this. fact make every little thing jump scare (walking baseball bat left floor? kidding me?). scary. one thing surprised about: blood thought going be.. saying much.<br /><br />the film starts donna dropped lisa\'s mom house. comes in.. goes upstairs. camera pans father dead couch. spooky. goes upstairs, aforementioned baseball bat scene happens. finds brother bed, apparently dead (how could tell? spot blood him). killer comes in, donna hides bed, mom dies. runs outside screaming help. killer behind her: "i us." cut therapy session. confused lot people- everyone asking whether family actually died imagined it- mentions nightmares started coming back. filler dialogue ensues.<br /><br />they cut chase pretty quick. scenes salon, go hotel. course killer already (for reason, escaped 3 days ago police/family informed already there). filler ensues.<br /><br />i\'m going go happens film, want spoil much. want know dies, horror_fan made post already. subjects deaths: exciting. people theatre actually laughed loud (an experience never horror movie, even stranger calls) several them. one particular: bus boy guy gives hilarious \'scared\' face ever seen. death involving blood lisa\'s, pretty scarce. throat slashed, blood (if even call that- practically black) splatters curtain-thing. blood claire see body. apparently, fenton decided stab times choked death. um, okay? movie one clichéd ever seen. let\'s see here.. obligatory close-mirror-curtain-boom! scene. check. twice, actually (you could tell struggling). mandatory backing-up-into-killer. check. there\'s also backing-up-into-lamp scene, seen that. oh, say want birds-flying-away scare? well, got it! (yes, managed incorporate one here). and, course, we-have-security-on-all-exits-but-he-still-escaped scene. shall go on? could.<br /><br />for anyone saying characters stupid, kidding me? "oh, even though massive alarm ringing, literally saying please vacate building, 3 friends missing, going go upstairs get wrap." characters flawed stupid characters ever. likable character - lisa - made one stupid moves movie. "oh, realized psycho-teacher here! must leave strong boyfriend behind run warn her! oh, shoot, elevator slow? guess take stairs run construction site!" ugh. end film, deserved die. death anyone felt remorse donna\'s boyfriend (i can\'t even remember name- bad?), time, audience completely drained scareless, clichéd film.<br /><br />there positives- acting decent part, well-shot. that\'s it.<br /><br />i\'d give 1/5, that\'s generous. laughs (and believe me, audience few), brittany snow.<br /><br />oh, reaction bad. bad. people boo-ing movie ended buzz afterwards negative. expect bad legs one.'
 'saw trailer tv surprised. may 2008 six flags new jersey showing 4-d attraction (you know, attraction seats move). take version saw shortened version (15 min.) also re-created add motion effects. cute movie... it. educational told first mission ending cgi spacewalk seemed bit...well...trite. big fan movie would recommend movie parent wanting inform children fun way first moonwalk. say, character actors well selected characters cute. all-in-all, would say, want bring younger kids... go it. wanting take older kids, take another movie... thank you.'
 'first all, riget wonderful. good comedy mystery thriller time. nice combination strange \'dogma\' style telling story together good music great actors. unfortunately there\'s \'the end\'. unacceptable. thinking... possible continue story without helmer drusse? ...and idea. think lars make riget iii little bit different. sure 3rd part without helmer same. here\'s suggestion. mayble little bit stupid, maybe not. know lars likes experiment. make small experiment riget3? think solution create puppet-driven animation (like example "team america" trey parker) even computer 3d animation. know real actors, principle believe could work... way possible make actors alive again. riget fans big difference - animation done good way average \'watcher\' consider normal first shots movie. important thing story. completely understandable possible create riget 3 actors nowadays. play animation? and... look possibilities gives you! even marketing one! great director finishes trilogy 10 years using puppet animation. dreams?<br /><br />i hope see riget 3 someday... even see script. curious story ends... expect- everybody do.<br /><br />greets, slaj<br /><br />ps: talking "kingdom hospital" stephen king ;-)']
[0 0 0 ... 0 0 1]
["films make careers. george romero, night living dead; kevin smith, clerks; robert rodriguez, el mariachi. add list onur tukel's absolutely amazing ding-a-ling-less. flawless film-making, assured professional aforementioned movies. laughed hard since saw full monty. (and, even then, think laughed quite hard... speak.) tukel's talent considerable: ding-a-ling-less chock full double entendres one would sit copy script line-by-line examination fully appreciate the, uh, breadth width it. every shot beautifully composed (a clear sign sure-handed director), performances around solid (there's none over-the-top scenery chewing one might've expected film like this). ding-a-ling-less film whose time come."
 "blackly comic tale down-trodden priest, nazarin showcases economy luis bunuel able achieve able tell deeply humanist fable minimum fuss. output mexican era film making, invaluable talent possess, little money extremely tight schedules. nazarin, however, surpasses many bunuel's previous mexican films terms acting (francisco rabal excellent), narrative theme.<br /><br />the theme, interestingly, something explored viridiana, made three years later spain. concerns individual's struggle humanity altruism amongst society rejects notion virtue. father nazarin, however, portrayed sympathetically sister viridiana. whereas latter seems choose charity wishes atone (perceived) sins, nazarin's whole existence reason seems help others, whether (or we) like not. film's last scenes, casts doubt behaviour and, split second, choose life leading conventional life expected priest, emotional concern moral integrity never quite sure whether remains intact not.<br /><br />this remarkable film would urge anyone interested classic cinema seek out. one bunuel's moving films, encapsulates many obsessions: frustrated desire, mad love, religious hypocrisy etc. view 'nazarin' second 'the exterminating angel', terms mexican movies, certainly near top list bunuel's total filmic output."
 'scary movie 1-4, epic movie, date movie, meet spartans, another teen movie another gay movie. making "superhero movie" eleventh series single handily ruined parody genre. admit soft spot classics airplane naked gun know milked franchise bad see gags mile off. fact thing might really temp going see disaster incredibly funny massive sell-out leslie neilson.<br /><br />you tell needs money, wither intends go ship like good capitan would. way bringing genre hell helping it. feel sorry anybody film decent actor drake bell put immense amount embarrassment. people put largest amount torture far however audience forced sit 90 minutes laughless bile funnier herpes.<br /><br />after spoofing disaster films airplane!, police shows naked gun, hollywood horrors scary movie 3 4, producer david zucker sets satirical sights superhero genre anarchic comedy lampooning everything spider-man x-men superman returns.<br /><br />shortly bitten genetically altered dragonfly, high-school outcast rick riker (drake bell) begins experience startling transformation. rick\'s skin strong steel, possesses strength ten men. determined use newfound powers fight crime, rick creates special costume assumes identity dragonfly -- fearless crime fighter dedicated keeping streets safe law-abiding citizens.<br /><br />but every superhero needs nemesis, lou landers (christopher mcdonald) caught middle experiment gone horribly awry, develops power leech life force anyone meets becomes villainous hourglass. intent achieving immortality, hourglass attempts gather much life force possible noble dragonfly sets take archenemy realize destiny true hero. craig mazin writes directs low-flying spoof.<br /><br />featuring tracy morgan, pamela anderson, leslie nielsen, marion ross, jeffrey tambor, regina hall.<br /><br />hell superhero movie may earn merit fact hell lot better meet spartans epic movie. great responsibility comes one worst outings 2008 date. laughless little less irritating meet spartans. sense much forgettable meet spartans. maybe that\'s good reason. still us trying scrape away stain meet spartans memory.<br /><br />my final verdict? avoid, unless one thoses people enjoy car crash cinema. bad date movie scary movie 2 quite bad meet spartans epic movie. super villain.'
 ...
 "predicable movie ever seen...extremely boring, feel like seen hundred movies storyline one. acting ok best, there's action really definitely thrills. capable actors terrible script think could written better 10th grader. felt like chore watch hoping would something movie going set apart garbage fit right heap. whole movie waiting something good happen never came. never rate movies never review movies movie bad log post review try save poor souls wasting time (and/or money) movie. pirated wish never even wasted hard drive space. spent 10 bucks see theaters would kill myself."
 'exactly expected it. relaxing, humorous entertaining. acting couple awesome, well scene selection. personally recommend this. kind movie seen whole family time without anyone feeling uncomfortable getting bored. cute movie make smile, laugh too. action scenes tasty. classics modern american comedy. well done.'
 'make cartoons like used to. one wit, great characters, greatest ensemble voice artists ever assembled daytime cartoon show. still remains one highest rated daytime cartoon shows, one honored, winning several emmy awards.']
[1 1 0 ... 0 1 1]

In [25]:
def save_array(array, save_path):
    with open(save_path, 'wb') as file:
        pickle.dump(array, file)

In [26]:
save_array(x_train, 'data/x_train.pkl')
save_array(y_train, 'data/y_train.pkl')

save_array(x_test, 'data/x_test.pkl')
save_array(y_test, 'data/y_test.pkl')